
@font-face {
  font-family: "escher";
  src: url("./assets/fonts/EscherHand.ttf") format("truetype");
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: "escher", sans-serif;
  --C1: #e69011;
  --C2: #f34506;
  --C3: rgb(4, 156, 4);
  --C4: rgba(7, 92, 204, 0.979);
  --C5: #33373a;
  --C6: #242424;
  --C7: #ffffffde;

  color-scheme: light dark;
  color: var(--C7);
  background-color: var(--C6);
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  height: 4px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #6b6969;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #353535;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #d6d6d6;
  border-radius: 10px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* h1 {
    animation: logo-spin infinite 20s linear;
  } */
