* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;

  font-family: cursive;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --C1: #e69011;
  --C2: #f34506;
  --C3: rgb(4, 156, 4);
  --C4: rgba(7, 92, 204, 0.979);
  --C5: #33373a;
  --C6: #242424;
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
/* #root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;


} */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* h1 {
    animation: logo-spin infinite 20s linear;
  } */
