@font-face {
  font-family: "grendel";
  src: url("./assets/fonts/Grendel.ttf") format("truetype");
}
@font-face {
  font-family: "mother-board";
  src: url("./assets/fonts/MotherBoard.ttf") format("truetype");
}
@font-face {
  font-family: "mother-nature-regular";
  src: url("./assets/fonts/MotherNature.ttf") format("truetype");
}
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: none;
  cursor: pointer;
}

.menu {
  background-color: #5f5f5fea;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: sticky;
  top: 35px;
  float: right;
  margin-right: 10px;
  z-index: 6;
  transition: background-color 0.3s;
}

.menu:hover {
  background-color: #5f5f5f;
}

.menu-icon {
  background-color: inherit;
  height: 25px;
  width: 25px;
  vertical-align: middle;
  border-radius: 2px;
}

#menu-details {
  background-color: #313030;
  height: 300px;
  width: 300px;
  border-bottom-left-radius: 90%;
  position: fixed;
  top: -100%;
  right: -100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: top 1s, right 1s;
  z-index: 5;
}

#menu-details.open {
  top: 0;
  right: 0;
}
#menu-details > ul {
  list-style-type: none;
  background-color: inherit;
}
#menu-details li {
  background-color: inherit;
  margin-bottom: 5px;
  margin-left: 50px;
  font-size: 25px;
  width: 80px;
  text-align: center;
  cursor: pointer;
}
#menu-details li:hover {
  border-bottom: 2px dotted white;
}
#menu-details li a {
  background: none;
  text-decoration: none;
}
.card {
  min-height: 50dvh;
  text-align: center;
  padding: 20px;
}
.pad {
  padding: 15px;
  border-radius: 4px;
}

.banner {
  width: 100dvw;
  height: 50dvh;
  --s: 140px;
  --c: #170409;
  --_g: #0000 52%, var(--c) 54% 57%, #0000 59%;
  background: radial-gradient(farthest-side at -33.33% 50%, var(--_g)) 0
      calc(var(--s) / 2),
    radial-gradient(farthest-side at 50% 133.33%, var(--_g)) calc(var(--s) / 2)
      0,
    radial-gradient(farthest-side at 133.33% 50%, var(--_g)),
    radial-gradient(farthest-side at 50% -33.33%, var(--_g)), #fa991a;
  background-size: calc(var(--s) / 4.667) var(--s),
    var(--s) calc(var(--s) / 4.667);
  animation: gradientAnimation 5s linear infinite;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}

.animation {
  --s: 140px;
  --c: #170409;
  --_g: #0000 52%, var(--c) 54% 57%, #0000 59%;
  background-image: radial-gradient(farthest-side at -33.33% 50%, var(--_g)),
    radial-gradient(farthest-side at 50% 133.33%, var(--_g)),
    radial-gradient(farthest-side at 133.33% 50%, var(--_g)),
    radial-gradient(farthest-side at 50% -33.33%, var(--_g));
  background-size: calc(var(--s) / 4.667) var(--s),
    var(--s) calc(var(--s) / 4.667);
  background-position: 0 calc(var(--s) / 2), calc(var(--s) / 2) 0,
    calc(var(--s) / 4.667) 0, 0 calc(var(--s) / 4.667);
  background-repeat: repeat;
  animation: waveAnimation 20s linear infinite;
}
.greet,
.header,
.details {
  text-align: left;
}

#heartBalloon {
  animation: heartPump 1s infinite;
  background-color: none;
  height: 30px;
  width: 30px;
  vertical-align: middle;
}
.key-point {
  font-family: "grendel";
  vertical-align: middle;
}
.social-media-handles {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 220px;
  padding: 5px;
  border-radius: 6px;
}

.media-handle {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-top: 5px;
}
.media-handle img {
  width: 100%;
  height: 100%;
}

footer {
  width: 100%;
  height: 10px;
  text-align: center;
}
.line {
  border: 1px solid #6360609d;
  border-radius: 30%;
  width: 80%;
  margin-bottom: 15px;
}

#profile-pic {
  width: 200px;
  height: 200px;
  border: none;
  border-radius: 48%;
  background: inherit;
  box-shadow: 0px 0px 10px 2px #000000b7; /* horizontal offset, vertical offset, blur radius, spread radius, color */
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#projects {
  text-align: center;
  padding: 20px;
}
#repos {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.repo {
  cursor: pointer;
  width: 100px;
  height: 80px;
}
.repo figure {
  border-radius: 4px; 
}
.repo figcaption {
  border-radius: 4px;
  background: #2e2e33b9;
}
.repo-image {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.repo-image__img {
  width: inherit;
  height: inherit;
  border-radius: 5px;
}
.repo-info {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.repo-info__img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.repo-info__content {
  margin-left: 20px;
}

.repo-info__content h2 {
  margin: 0;
}

.repo-info__content p {
  margin: 10px 0;
}

.repo-info__content a {
  display: inline-block;
  padding: 8px 16px;
  background-color: pink;
  color: white;
  text-decoration: none;
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-content {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
}

.dialog-close {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: pink;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}
/* key frames */
@keyframes gradientAnimation {
  0% {
    background-position: 0 calc(var(--s) / 2), calc(var(--s) / 2) 0, 0 0, 0 0;
  }
  100% {
    background-position: calc(var(--s) / 4.667) calc(var(--s) / 2),
      calc(var(--s) / 2) calc(var(--s) / 4.667), calc(var(--s) / 4.667) 0,
      0 calc(var(--s) / 4.667);
  }
}

@keyframes waveAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes heartPump {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
