@font-face {
  font-family: "grendel";
  src: url("./assets/Grendel.ttf") format("truetype");
}
@font-face {
  font-family: "mother-board";
  src: url("./assets/MotherBoard.ttf") format("truetype");
}
@font-face {
  font-family: "mother-nature-regular";
  src: url("./assets/MotherNature.ttf") format("truetype");
}
:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s; */
/* } */
/* button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

button {
  border: none;
  cursor: pointer;
}
.menu {
  background-color: red;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: sticky;
  top: 35px;
  float: right;
  margin-right: 10px;
  /* remove when togglin is active */
  z-index: 2;
}
.menu-icon {
  background-color: inherit;
  height: 25px;
  width: 25px;
}
#menu-details {
  background-color: green;
  height: 300px;
  width: 300px;
  border-bottom-left-radius: 90%;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#menu-details > ul {
  list-style-type: none;
  background-color: inherit;
}
#menu-details li {
  background-color: inherit;
  margin-bottom: 5px;
  margin-left: 50px;
  font-size: 25px;
  width: 80px;
  text-align: center;
  cursor: pointer;
}
#menu-details li:hover {
  border-bottom: 2px dotted white;
}
.card {
  min-height: 50dvh;
  width: 500px;
  background-color: pink;
  text-align: center;
}

.banner {
  height: 60dvh;
}
.greet,
.header,
.details {
  text-align: left;
}

@keyframes heartPump {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#heartBalloon {
  animation: heartPump 1s infinite;
  background-color:none;
  height:30px;
  width:30px;
  vertical-align:middle;

}

